body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c8d1f5;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

a, .nav-link {
    color: #02040e;
}


/* HEADER */

.navbar {
    background-color: #526cd6;
    color: #2380eb !important;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.btn-main {
    background-color: #c8d1f5 !important;
    color: #c8d1f5 !important;
}

/* BODY */
.hero {
    background-color: #c8d1f5;
}

.hero-post-badges {
    top: 20px;
    right: 20px;
}

.hero-post-badges > a {
    background-color: #c8d1f5;
    color: #66FCF1;
}